
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
  font-family: 'Work Sans', sans-serif;
  background:#f6f9ff;;
  color: #444;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;

}



/* ================= HEADER ================= */

.header{
  width:100%;
  height:60px;
  background:#fff;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 25px;
  box-shadow:0 2px 10px rgba(0,0,0,0.05);
  position:fixed;
  top:0;
  left:0;
  z-index:1000;

}

.left-header{
  display:flex;
  align-items:center;
  gap:10px;
}

.menu-toggle{
  border:none;
  background:none;
  cursor:pointer;
}

.menu-toggle i{
  font-size:38px;
  color:#000000;
}

.logo{
     width: 40px;
}

.left-header h2{
  font-size:26px;
  color:#39A900;
  font-weight:bold;
  margin-top:4px;
    letter-spacing: 2px;
}

/* ================= USER ================= */

.header-right {
  display: flex;
  align-items: center;
}

.user-icon {
  font-size: 28px;
  color: #39A900; 
}

.arrow {
  font-size: 14px;
  margin-left: 5px;
  color: #444;
}


.user-menu {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}


.dropdown-user {
  position: absolute;
  top: 45px;
  right: 0;
  background: #fff;
  border-radius: 12px;
  width: 180px;
  padding: 13px;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.1);
  display: none;
  animation: fadeIn 0.2s ease;
}

.dropdown-user.active {
  display: block;
}


.username {
  display: block;
  font-weight: bold;
  color: #012970;
  font-size: 15px;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
}


.dropdown-user hr {
  border: none;
  border-top: 1px solid #000000;
  margin: 8px 0;
}


.logout {
  text-decoration: none;
  color: #444;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.logout:hover {
  color:#39A900;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



/* ================= SIDEBAR ================= */

.sidebar{
  position:fixed;
  top:72px;
  left:-290px;
  width:290px;
  height:100%;
  background:#fff;
  box-shadow:2px 0 15px rgba(0,0,0,0.06);
  transition:.3s;
  overflow-y:auto;
  z-index:999;
  padding-top:20px;
}

.sidebar.active{
  left:0;
}

.sidebar ul{
  list-style:none;
}

.sidebar ul li{
  width:100%;
}

/* LINKS */

.sidebar ul li a{
  display:flex;
  align-items:center;
  gap:15px;
  padding:16px 30px;
  text-decoration:none;
  color:#374151;
  font-size:15px;
  font-weight:500;
  transition:.3s;
}


.sidebar li{
  width:100%;
}

.sidebar a{
  text-decoration:none;
}

/* INICIO */

.sidebar ul li:first-child a{
  display:flex;
  align-items:center;
  gap:12px;
  color:#444;
  font-size:15px;
  padding:16px 28px;
  transition:.2s;
}



/* ================= MODULO EMPRESA ================= */

.menu-dropdown{
  margin-top:10px;
}

.dropdown-btn{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:16px 30px;
  cursor:pointer;
  transition:.3s;
}

.dropdown-btn:hover{
  background:#f3f4f6;
}

.left-dropdown{
  display:flex;
  align-items:center;
  gap:12px;
}

.left-dropdown i{
  font-size:25px;
  color:#000000;
}

.left-dropdown span{
  font-size:15px;
  font-weight:700;
  color:var(--texto);
}

.arrow-menu{
  font-size:22px;
  color:var(--verde-sena);
  transition:.3s;
}

.rotate-arrow{
  transform:rotate(180deg);
}

/* ================= SUBMENU ================= */

.submenu{
  max-height:0;
  overflow:hidden;
  transition:max-height .4s ease;
}

.show-submenu{
  max-height:300px;
}

.submenu li a{
  padding-left:65px;
  font-size:18px;
  font-weight:600;
  display:flex;
  align-items:center;
  gap:14px;
}

/* CIRCULITOS */

.dot{
  width:12px;
  height:12px;
  border:2px solid #222;
  border-radius:50%;
  transition:.3s;
}

/* ACTIVO */

.active-link{
  color:var(--verde-sena) !important;
  font-weight:700 !important;
}

.active-link .dot{
  background:var(--verde-sena);
  border-color:var(--verde-sena);
}



/* ================= CONTENIDO ================= */

.main-content{
  margin-top:30px;
  padding:30px;
  margin-left: 90px;
}


@keyframes fade{
  from{
    opacity:0;
    transform:translateY(-10px);
  }

  to{
    opacity:1;
    transform:translateY(0);
  }
}

/* ================= RESPONSIVE ================= */

@media(max-width:991px){

  .sidebar{
    left:-300px;
  }

  .sidebar.active{
    left:0;
  }

  .main-content{
    margin-left:0;
  }

  .left-header h2{
    font-size:40px;
  }

}