@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root {
  --verde-sena: #39A900;
  --verde-hover: #2a7900;
}

body {
  font-family: 'Work Sans', sans-serif;
  background: #f6f9ff;
  padding: 20px;
}

/* BOTON VOLVER */
.top-bar {
  margin-bottom: 15px;
}

.btn-volver {
  background: var(--verde-sena);
  color: white;
  padding: 6px 14px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 600;
}

.btn-volver:hover {
  background: var(--verde-hover);
}

.header-sena {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.logo-sena {
  width: 45px;
  align-items: center;
}

.titulo-sena {
  font-weight: bold;
  color: #012970;
  font-size: 18px;
}

/* CONTENEDOR */
.table-container {

  background: white;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0px 0 20px rgba(1, 41, 112, 0.08);

  overflow-x: auto;
  width: 100%;
}


/* TITULOS */
h2 {
  color: #012970;
  margin-bottom: 10px;
  font-weight: 700;
}

h3 {
  font-size: 14px;
  color: #6c757d;
  margin-bottom: 10px;
}

/* BOTON REGISTRAR */
.btn-registrar {
  background: var(--verde-sena);
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 20px;
  margin-bottom: 15px;
  font-weight: 600;
}

.btn-registrar:hover {
  background: var(--verde-hover);
}

/* TABLA */

  table {
  width: 100%;
  border-collapse: collapse;
  min-width: 1700px;
}


thead {
  background: #f1f4f9;
}

th {
  padding: 10px;
  font-size: 12px;
  white-space: nowrap;
}
td {
  padding: 10px;
  font-size: 12px;
  border-top: 1px solid #eee;
}
/* HOVER */
tbody tr:hover {
  background: #f9f9f9;
}

/* BOTONES DE TABLA (TODOS) */
td button {
  background: var(--verde-sena);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 16px;
  font-size: 11px;
  font-weight: 600;
  min-width: 85px;
}

/* HOVER */
td button:hover {
  background: var(--verde-hover);
  transform: translateY(-1px);
}

/* BOTON ELIMINAR (ROJO) */
td a[href*="eliminar"] button {
  background: #ef4444; /* rojo */
}

td a[href*="eliminar"] button:hover {
  background: #dc2626;
}
/* PAGINACION */
.paginacion {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.paginacion button {
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  background: #e5e7eb;
  cursor: pointer;
  font-weight: 600;
}

.paginacion button.activo {
  background: var(--verde-sena);
  color: white;
}

.paginacion button:hover {
  background: var(--verde-hover);
  color: white;
}