
:root {
  --azul-oscuro: #1e3a8a;
  --blanco: #ffffff;
  --gris-claro: #f8f9fa;
  --gris-medio: #d1d5db;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


body {
  background-color: var(--gris-claro);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.login-container {
  background: var(--blanco);
  padding: 40px;
  border-radius: 12px;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}


.login-container h2 {
  margin-bottom: 25px;
  color: var(--azul-oscuro);
}

.mensaje-container {
  position: absolute;
  top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.mensaje {
  background: #7a93d8;
  color: #000;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
}

.input-group {
  text-align: left;
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--azul-oscuro);
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--gris-medio);
  border-radius: 6px;
}


.login-container button {
  width: 100%;
  padding: 12px;
  background-color: var(--azul-oscuro);
  color: var(--blanco);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}


.login-container button:hover {
  background-color: #162c6e;
  transform: translateY(-2px);
}


