@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

:root{

--azul:#012970;
--verde:#39A900;
--gris:#f6f9ff;

}

*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

font-family:'Nunito',sans-serif;
background:var(--gris);

}


/* HEADER */

.top-header{

height:70px;
background:white;

display:flex;
justify-content:space-between;
align-items:center;

padding:0 25px;

box-shadow:0 2px 8px rgba(0,0,0,.08);

}

.header-left{

display:flex;
align-items:center;
gap:12px;

}

.menu-btn{

border:none;
background:none;

font-size:32px;

cursor:pointer;

}

.logos{

width:42px;

}

.logo-text{

font-size:26px;
font-weight:700;
color:var(--verde);

}

.user-icon{

font-size:32px;
color:var(--verde);

}


/* SIDEBAR */

.sidebar{

position:fixed;

top:70px;

left:-260px;

width:260px;

height:100%;

background:white;

padding:20px;

box-shadow:2px 0 10px rgba(0,0,0,.05);

transition:0.3s;

z-index:1000;

}

.sidebar.active{

left:0;

}

.sidebar ul{

list-style:none;

}

.sidebar li{

margin-bottom:15px;

}

.sidebar a{

text-decoration:none;

color:#444;

font-weight:600;

display:flex;

gap:10px;

align-items:center;

}

.submenu{

margin-top:15px;
margin-left:25px;

}

.submenu li{

margin-bottom:10px;

}

.submenu a{

color:var(--azul);

}

.active{

color:var(--verde);

}


/* CONTENIDO */

.contenido{

padding:35px;

transition:0.3s;

}

.banner{

background:white;

padding:30px;

border-radius:15px;

box-shadow:0 4px 12px rgba(0,0,0,.06);

margin-bottom:30px;

}

.banner h1{

color:var(--azul);

margin-bottom:10px;

}

.banner p{

color:#666;

}


/* TARJETAS */

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

gap:25px;

}

.card{

background:white;

padding:25px;

border-radius:15px;

text-decoration:none;

color:#333;

box-shadow:0 4px 12px rgba(0,0,0,.08);

transition:.3s;

}

.card:hover{

transform:translateY(-5px);

}

.icon{

width:65px;
height:65px;

background:#e9f8df;

border-radius:50%;

display:flex;
justify-content:center;
align-items:center;

font-size:28px;

color:var(--verde);

margin-bottom:15px;

}

.card h3{

color:var(--azul);

margin-bottom:10px;

}

.card p{

color:#666;

line-height:1.5;

}