@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Nunito',sans-serif;
background:#f6f9ff;
}

/* HEADER */

.top-header{
height:70px;
background:white;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 25px;
box-shadow:0 2px 10px rgba(0,0,0,.05);
}

.header-left{
display:flex;
align-items:center;
gap:15px;
}

.menu-btn{
background:none;
border:none;
font-size:32px;
cursor:pointer;
}

.logos{
width:40px;
}

.logo-text{
font-size:28px;
font-weight:700;
color:#39A900;
}

.user-icon{
font-size:30px;
color:#39A900;
}

/* SIDEBAR */

.sidebar{
position:fixed;
top:70px;
left:-260px;
width:260px;
height:100%;
background:white;
transition:.3s;
box-shadow:2px 0 10px rgba(0,0,0,.05);
z-index:999;
}

.sidebar.active{
left:0;
}

.sidebar ul{
list-style:none;
padding:20px;
}

.sidebar li{
margin-bottom:15px;
}

.sidebar a{
text-decoration:none;
color:#444;
}

.submenu{
margin-top:10px;
margin-left:20px;
}
:root{

--azul:#012970;
--verde:#39A900;
--gris:#f6f9ff;

}
.submenu a{

color:var(--azul);

}

.active{

color:var(--verde);

}

/* CONTENIDO */

.main-content{
padding:35px;
}

.btn-volver{

display:inline-block;

background:#39A900;

color:white;

text-decoration:none;

padding:10px 12px;

border-radius:8px;

font-weight:700;

margin-bottom:20px;
}

h1{

color:#000000;

font-size:20px;

margin-bottom:25px;
}

.problemas-box{

background:white;

border:1px solid #dce1ea;

border-radius:8px;

overflow:hidden;

margin-bottom:30px;
}

.problemas-box h3{

padding:12px 15px;

font-size:20px;

color:#000000;
}

.tabla-problemas{

width:100%;

border-collapse:collapse;
}

.tabla-problemas td{

padding:14px 14px;

border-top:1px solid #e5e7eb;
}

.grafica-box{

background:white;

padding:10px 20px;
justify-content: center;
align-items: center;

border-radius:8px;

border:1px solid #dce1ea;
}

#grafica{

width:70% !important;

height:400px !important;
}