:root{
--azul-oscuro:#1e3a8a;
--blanco:#ffffff;
--gris-fondo:#f4f6f9;
--gris-borde:#d1d5db;
}

body{
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color:var(--gris-fondo);
margin:0;
padding:20px;
}

.top-bar{
display:flex;
justify-content:flex-start;
margin-bottom:10px;
}

.btn-volver{
text-decoration:none;
background-color:var(--azul-oscuro);
color:white;
padding:8px 16px;
border-radius:8px;
font-size:14px;
font-weight:600;
transition:0.3s;
}

.btn-volver:hover{
background-color:#162c6b;
}



.titulo{
text-align:center;
color:var(--azul-oscuro);
margin-bottom:25px;
}


.form-container{
display:flex;
justify-content:center;
}


form{
background:white;
padding:25px;
border-radius:12px;
width:420px;
box-shadow:0 8px 18px rgba(0,0,0,0.08);
}



.form-group{
display:flex;
flex-direction:column;
margin-bottom:14px;
}



label{
font-size:14px;
font-weight:600;
margin-bottom:5px;
}



input, select{
padding:8px;
border-radius:6px;
border:1px solid var(--gris-borde);
font-size:14px;
}


input:focus, select:focus{
outline:none;
border-color:var(--azul-oscuro);
}



.btn-registrar{
width:100%;
background-color:var(--azul-oscuro);
color:white;
padding:10px;
border:none;
border-radius:8px;
font-size:15px;
font-weight:600;
cursor:pointer;
margin-top:10px;
transition:0.3s;
}

.btn-registrar:hover{
background-color:#162c6b;}