@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
  font-family: "Work Sans", sans-serif;
  background: #f6f9ff;
  color: #444;
}

.pagetitle h1 {
  font-size: 18px;
  font-weight: 600;
  color: #012970;
}

.breadcrumb {
  font-size: 14px;
  font-weight: bold;
}

.breadcrumb a {
  color: #899bbd;
  text-decoration: none;
  font-weight: bold;
}

.breadcrumb a:hover {
  color: #51678f;
}


.card {
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0 20px rgba(1, 41, 112, 0.1);
  
}


.card-title {
  font-size: 20px;
  color: #012970;
}

.text-muted{
  font-size: 13px;
  color: #012970;
}

.form-control {
  font-size: 14px;
  padding: 8px;
  border-radius: 6px;
}
label{
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 10px;
}

/* BOTÓN */
.btn-sena {
  background-color: #39A900;
  color: #fff;
  border: none;
  padding: 8px 18px;
  font-size: 14px;
  border-radius: 6px;
}

.btn-sena:hover {
  background-color: #2a7900;
}