@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root {
  --main-color: #39A900;
  --secondary-color: #012970;
  --bg-color: #f6f9ff;
}

body {
  font-family: "Work Sans", sans-serif;
  background: var(--bg-color);
  color: #444;
  padding: 20px 30px;
}


.mensaje-container {
  margin-bottom: 15px;
}

.mensaje {
  background: #d1e7dd;
  color: #0f5132;
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
}

.top-bar {
  margin-bottom: 15px;
}

.btn-volver {
  text-decoration: none;
  background-color: var(--main-color);
  color: #fff;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  transition: 0.3s;
}

.btn-volver:hover {
  background-color: #0b2c1f;
}

/* TITULO */
.pagetitle h1 {
  font-size: 20px;
  font-weight: 600;
  color: var(--secondary-color);
  margin-bottom: 5px;
  margin-left: 250px;

}

.pagetitle h3 {
  font-size: 14px;
  font-weight: bold;
  color: #6c757d;
  margin-left: 250px;
}

.form-container {
  width: 600px;             
  margin-top: 20px;
  margin-left: 250px;
  margin-right: auto;       
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 0 20px rgba(1, 41, 112, 0.1);
}


.card-title {
  font-size: 20px;
  color: var(--secondary-color);
  margin-bottom: 5px;
}

.text-muted{
  font-size: 13px;
  color: #012970;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-group label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.is-required::after {
  content: " *";
  color: #dc3545;
  font-weight: bold;
}

.input-group input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  font-size: 14px;
  transition: 0.2s;
}

.input-group input:focus {
  outline: none;
  border-color: var(--main-color);
  box-shadow: 0 0 5px rgba(57, 169, 0, 0.3);
}

/* BOTON */
button {
  width: auto;              /* 🔥 IMPORTANTE: ya no ocupa todo */
  padding: 8px 20px;
  background-color: var(--main-color);
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

