@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root {
  --verde-sena: #39A900;
  --verde-hover: #2a7900;
}

/* GENERAL */
body {
  font-family: 'Work Sans', sans-serif;
  background: #f6f9ff;
  padding: 20px;
}

.header-sena {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.logo-sena {
  width: 45px;
  align-items: center;
}

.titulo-sena {
  font-weight: bold;
  color: #012970;
  font-size: 18px;
}

/* BOTON VOLVER */
.btn-volver {
  background: var(--verde-sena);
  color: white;
  padding: 6px 14px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 600;
}

.btn-volver:hover {
  background: var(--verde-hover);
}

/* CONTENEDOR */
.table-container {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 0 20px rgba(1, 41, 112, 0.1);
}

/* TITULOS */
h2 {
  color: #012970;
  font-weight: 700;
}

h3, h4 {
  font-size: 14px;
  color: #6c757d;
}

/* BOTON NUEVO */
.btn-top button {
  background: var(--verde-sena);
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.btn-top button:hover {
  background: var(--verde-hover);
}

/* TABLA */
table {
  width: 100%;
  border-collapse: collapse;
}

table tr:first-child {
  background: #f1f4f9;
}

th {
  padding: 10px;
  font-size: 13px;
  color: #012970;
  text-align: left;
}

td {
  padding: 10px;
  font-size: 13px;
  border-top: 1px solid #eee;
}

table tr:hover {
  background: #f9f9f9;
}

/* BOTONES */
td button {
  background: var(--verde-sena);
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  transition: 0.3s;
}

td button:hover {
  background: var(--verde-hover);
}

/* ELIMINAR ROJO */
td a[href*="eliminar"] button {
  background: #dc3545 !important;
}

td a[href*="eliminar"] button:hover {
  background: #b02a37 !important;
}

/* PAGINACION */
.paginacion {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.paginacion button {
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  background: #e5e7eb;
  cursor: pointer;
  font-weight: 600;
}

.paginacion button.activo {
  background: var(--verde-sena);
  color: white;
}

.paginacion button:hover {
  background: var(--verde-hover);
  color: white;
}