<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Empresas</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/listaEmp.css') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+qdLaB5m0v1k1eE3fR2eT5t1A4J0t9jWbi7r1ikT9VgW8ZfFfJp8eFZk8GZP2F6R"
      crossorigin="anonymous"
    />
  </head>
  <body>
    {% with mensajes = get_flashed_messages() %} {% if mensajes %} {% for
    mensaje in mensajes %}
    <div
      style="
        background: #7a93d8;
        color: #000000;
        padding: 12px;
        border-radius: 6px;
        margin-bottom: 15px;
        font-weight: bold;
      "
    >
      {{ mensaje }}
    </div>
    {% endfor %} {% endif %} {% endwith %}
    <div class="top-bar">
      <a href="/empresarios" class="btn-volver">Volver</a>
    </div>
    <div class="table-container">
      <h2>Lista de Empresas</h2>

      <h3>
        Empresario: {{ empresario.nombres_completos }} {{ empresario.apellidos
        }}
      </h3>

      <a href="{{ url_for('registrar_empresa', id=empresario.id_empresario) }}"
        ><button class="btn-registrar">Registrar empresa</button></a
      >

      <table>
        <thead>
          <tr>
            <th>Empresa</th>
            <th>Actividad Económica</th>
            <th>Persona Jurídica</th>
            <th>Tamaño</th>
            <th>Ciudad</th>
            <th>Tipo Flota</th>
            <th>Sedes</th>
            <th>Redes</th>
            <th>Procesos</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for empresa in empresas %}
          <tr>
            <td data-label="Empresa">{{ empresa.nombre_empresa }}</td>
            <td data-label="Actividad Económica">
              {{ empresa.actividad_economica }}
            </td>
            <td data-label="Persona Jurídica">
              {{ empresa.tipo_persona_juridica }}
            </td>
            <td data-label="Tamaño">{{ empresa.tamano_empresa }}</td>
            <td data-label="Ciudad">{{ empresa.ciudad.nombre_ciudad }}</td>
            <td data-label="Tipo Flota">{{ empresa.flota.tipo_flota }}</td>
            <td>
              <a href="/empresa/{{ empresa.id_empresa }}/sedes">
                <button>Ver sedes</button>
              </a>
            </td>

            <td>
              <a href="/empresa/{{ empresa.id_empresa }}/redes">
                <button>Ver redes</button>
              </a>
            </td>

            <td>
              <a href="/empresa/{{ empresa.id_empresa }}/procesos">
                <button>Ver procesos</button>
              </a>
            </td>
            
            <td data-label="Acciones">
              <a href="/empresa/eliminar/{{ empresa.id_empresa }}">
                <button>Eliminar</button>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
