<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Empresas</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/listaEmp.css') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+qdLaB5m0v1k1eE3fR2eT5t1A4J0t9jWbi7r1ikT9VgW8ZfFfJp8eFZk8GZP2F6R"
      crossorigin="anonymous"
    />
  </head>
  <body>
    {% extends "base.html" %}

{% block title %}
Empresarios
{% endblock %}

{% block content %}

    {% with mensajes = get_flashed_messages() %} {% if mensajes %} {% for
    mensaje in mensajes %}
    <div
      style="
        background: #7a93d8;
        color: #000000;
        padding: 12px;
        border-radius: 6px;
        margin-bottom: 15px;
        font-weight: bold;
      "
    >
      {{ mensaje }}
    </div>
    {% endfor %} {% endif %} {% endwith %}
    <div class="top-bar">
      <a href="/empresarios" class="btn-volver">Volver</a>
    </div>
     <div class="header-sena">
  <img src="{{ url_for('static', filename='img/logo_sena.png') }}" class="logo-sena">
  <span class="titulo-sena">Sistema de Información Empresarial</span>
</div>
    <div class="table-container">
      <h2>Lista de Empresas</h2>

      <h3>
        Empresario: {{ empresario.nombres_completos }} {{ empresario.apellidos
        }}
      </h3>

     

      <table>
        <thead>
          <tr>
            <th>Empresa</th>
            <th>Actividad Económica</th>
            <th>Persona Jurídica</th>
            <th>Tamaño</th>
            <th>Ciudad</th>
            <th>Tipo Empresa</th>
            <th>Sedes</th>
            <th>Redes</th>
            <th>Stakeholder</th>
            <th>Canales</th>
            <th>Infraestructura</th>
            <th>Software</th>
            <th>Procesos</th>
            <th>Productos-Servicios</th>
            <th>Competidores</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for empresa in empresas %}
          <tr>
            <td data-label="Empresa">{{ empresa.nombre_empresa }}</td>
            <td data-label="Actividad Económica">
              {{ empresa.actividad_economica }}
            </td>
            <td data-label="Persona Jurídica">
              {{ empresa.tipo_persona_juridica }}
            </td>
            <td data-label="Tamaño">{{ empresa.tamano_empresa }}</td>
            <td data-label="Ciudad">{{ empresa.ciudad.nombre_ciudad }}</td>
            <td data-label="Tipo Empresa">{{ empresa.tipo_oferta}}</td>
            <td>
              <a href="/empresa/{{ empresa.id_empresa }}/sedes">
                <button>Ver sedes</button>
              </a>
            </td>

            <td>
              <a href="/empresa/{{ empresa.id_empresa }}/redes">
                <button>Ver redes</button>
              </a>
            </td>
            <td>
              <a href="/empresa/{{ empresa.id_empresa }}/stakeholders">
                <button>Ver stakeholder</button>
              </a>
            </td>
            <td> 
              <a href="/empresa/{{ empresa.id_empresa }}/canales">
                <button>Ver canales</button>
              </a>
            </td>
            <td>
              <a href="/empresa/{{ empresa.id_empresa }}/infraestructura">
                <button>Ver infraestructura</button>
              </a>
            </td>
            <td>
              <a href="/empresa/{{ empresa.id_empresa }}/software">
                <button>Ver software</button>
              </a>
            </td>
            <td>
              <a href="/empresa/{{ empresa.id_empresa }}/procesos">
                <button>Ver procesos</button>
              </a>
            </td>
            <td>
              <a href="/empresa/{{ empresa.id_empresa }}/productos">
                <button>Ver productos</button>
              </a>
            </td>
            <td>
              <a href="/empresa/{{ empresa.id_empresa }}/competidores">
                <button>
                  Ver competidores
                </button>
              </a>
            </td>
            
            <td data-label="Acciones">
              <a href="/empresa/eliminar/{{ empresa.id_empresa }}">
                <button class="eliminar">Eliminar</button>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

{% endblock %}
      <div class="paginacion" id="paginacion"></div>
    </div>

<script>
let filas = document.querySelectorAll("tbody tr");

let pagina = 1;
let porPagina = 3; 

function mostrarPagina() {
  let totalPaginas = Math.ceil(filas.length / porPagina);

  filas.forEach((fila, i) => {
    let inicio = (pagina - 1) * porPagina;
    let fin = inicio + porPagina;

    fila.style.display = (i >= inicio && i < fin) ? "" : "none";
  });

  renderPaginacion(totalPaginas);
}

function renderPaginacion(total) {
  let contenedor = document.getElementById("paginacion");
  contenedor.innerHTML = "";

  for (let i = 1; i <= total; i++) {
    let btn = document.createElement("button");
    btn.innerText = i;

    if (i === pagina) {
      btn.classList.add("activo");
    }

    btn.onclick = () => {
      pagina = i;
      mostrarPagina();
    };

    contenedor.appendChild(btn);
  }
}


mostrarPagina();
</script>
  </body>
</html>
