<!doctype html>
<html lang="es">

<head>
  <meta charset="UTF-8">

  <title>Competidores</title>

  <link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/sede.css') }}">
</head>

<body>
       {% extends "base.html" %}

{% block title %}
Empresarios
{% endblock %}

{% block content %}


    {% with mensajes = get_flashed_messages() %} {% if mensajes %} {% for
    mensaje in mensajes %}
    <div
      style="
        background: #7a93d8;
        color: #000000;
        padding: 12px;
        border-radius: 6px;
        margin-bottom: 15px;
        font-weight: bold;
      "
    >
      {{ mensaje }}
    </div>
    {% endfor %} {% endif %} {% endwith %}
<div class="top-bar">

<a
href="/empresario/{{ empresario.id_empresario }}/empresas"
class="btn-volver">

Volver

</a>

</div>
 <div class="header-sena">
  <img src="{{ url_for('static', filename='img/logo_sena.png') }}" class="logo-sena">
  <span class="titulo-sena">Sistema de Información Empresarial</span>
</div>
<div class="table-container">

<h2>Competidores</h2>

<h3>
Empresa:
{{ empresa.nombre_empresa }} - Empresario:
{{ empresario.nombres_completos }}
{{ empresario.apellidos }}
</h3>


<div class="btn-top">

<a href="/competidor/nuevo/{{ empresa.id_empresa }}">

<button class="btn-registrar">
+ Nuevo competidor
</button>

</a>

</div>

<table>

<thead>

<tr>
<th>Empresa competidora</th>
<th>Dirección</th>
<th>Acciones</th>
</tr>

</thead>

<tbody>

{% for c in competidores %}

<tr>

<td>
{{ c.empresa_competidora.nombre_empresa }}
</td>

<td>
{{ c.empresa_competidora.direccion_comercial }}
</td>

<td>

<a href="/competidor/eliminar/{{ c.id_competidor }}">

<button style="background:red;color:white;">
Eliminar
</button>

</a>

</td>

</tr>

{% endfor %}

</tbody>

</table>
      {% endblock %}
</div>

</body>
</html>