<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Panel</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/panel.css') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+qdLaB5m0v1k1eE3fR2eT5t1A4J0t9jWbi7r1ikT9VgW8ZfFfJp8eFZk8GZP2F6R"
      crossorigin="anonymous"
    />
  </head>

  <body>
    {% with mensajes = get_flashed_messages() %} {% if mensajes %} {% for
    mensaje in mensajes %}
    <div
      style="
        background: #7a93d8;
        color: #000000;
        padding: 12px;
        border-radius: 6px;
        margin-bottom: 15px;
        font-weight: bold;
      "
    >
      {{ mensaje }}
    </div>
    {% endfor %} {% endif %} {% endwith %}
    <div class="container">
      <h2>Bienvenido {{ nombre }}</h2>
      <h1>SIE- SISTEMA DE INFORMACIÓN EMPRESARIAL</h1>
      <a href="/empresarios"><button>Lista de Empresarios</button> </a>

      <a href="/registrar_empresario"><button>Registrar Empresario</button> </a>

      {% if tipo == "admin" %}
      <hr />
      <h3>Opciones de administrador</h3>
      <a href="/registro_usuario"><button>Registrar usuario</button></a>
      {% endif %}

      <a href="/logout"><button>Cerrar sesión</button></a>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+3/1eZ0L2hBz0+P1xZdWvC1zIjfF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
