<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Modulo Procesos</title>


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">


  <link rel="stylesheet" href="{{ url_for('static', filename='css/registroProblema.css') }}">
</head>

<body>
    <div class="mensaje-container">
      {% with mensajes = get_flashed_messages() %} {% if mensajes %} {% for
      mensaje in mensajes %}
      <div class="mensaje">{{ mensaje }}</div>
      {% endfor %} {% endif %} {% endwith %}
    </div>

    <div class="top-bar">
      <a href="/proceso/{{ proceso.id_proceso }}/problemas" class="btn-volver"
        >Volver</a
      >
    </div>
      <div class="pagetitle">
    <h1>Registrar Problema</h1>
    <h3 class="breadcrumb">
  <a href="/empresario/{{ empresa.id_empresario }}/empresas">
    {{ empresa.nombre_empresa }}
  </a>
  /
   <a href="/empresa/{{ empresa.id_empresa }}/procesos">
    {{ proceso.subproceso_area }}
  </a>
</h3>
      
    </div>
  

    <div class="form-container">
      <h4 class="card-title">
      <i class="bi bi-person-badge me-2"></i> Empresa - Información Complementaria
    </h4>

    <p class="text-muted">
      Complete la siguiente información sobre procesos y subprocesos</p>


  <form action="/guardar_problema/{{ proceso.id_proceso }}" method="POST">

    <div class="input-group">
      <label>Problemáticas identificadas en el área o subproceso seleccionadas</label>
       <input type="text" name="descripcion" placeholder="Describa la problemática identificada" required>
    </div>

    <button type="submit">Guardar</button>

  </form>
</div>

</body>
</html>