<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Registrar Empresa</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/registrarEmp.css') }}"
    />
  </head>

  <body>
    {% with mensajes = get_flashed_messages() %} {% if mensajes %} {% for
    mensaje in mensajes %}
    <div
      style="
        background: #7a93d8;
        color: #000000;
        padding: 12px;
        border-radius: 6px;
        margin-bottom: 15px;
        font-weight: bold;
      "
    >
      {{ mensaje }}
    </div>
    {% endfor %} {% endif %} {% endwith %}

    <div class="top-bar">
      <a
        href="/empresario/{{ empresario.id_empresario }}/empresas"
        class="btn-volver"
        >Volver</a
      >
    </div>

    <h2 class="titulo">Registrar Empresa</h2>
    <h3 style="text-align: center; margin-bottom: 20px">
      Empresario: {{ empresario.nombres_completos }} {{ empresario.apellidos }}
    </h3>

    <div class="form-container">
      <form
        action="{{ url_for('guardar_empresa', id_empresario=empresario.id_empresario) }}"
        method="POST"
      >
        <div class="form-group">
          <label>Nombre de la empresa</label>
          <input type="text" name="nombre_empresa" required />
        </div>

        <div class="form-group">
          <label>Tipo de oferta</label>
          <select name="tipo_oferta">
            <option>Productos</option>
            <option>Servicios</option>
            <option>Mixta</option>
          </select>
        </div>

        <div class="form-group">
          <label>Actividad económica</label>
          <input type="text" name="actividad" />
        </div>

        <div class="form-group">
          <label>Tipo persona jurídica</label>
          <select name="tipo_persona">
            <option>SAS</option>
            <option>LTDA</option>
            <option>S.A.</option>
            <option>S.C.A.</option>
            <option>S. en C</option>
            <option>Colectiva</option>
          </select>
        </div>

        <div class="form-group">
          <label>Tamaño empresa</label>
          <select name="tamano">
            <option>Micro</option>
            <option>Pequeña</option>
            <option>Mediana</option>
          </select>
        </div>

        <div class="form-group">
          <label>Punto de venta</label>
          <select name="punto_venta">
            <option>Físico</option>
            <option>Virtual</option>
            <option>Mixto</option>
          </select>
        </div>

        <div class="form-group">
          <label>Dirección comercial</label>
          <input type="text" name="direccion" />
        </div>

        <div class="form-group">
          <label>Número de empleados</label>
          <input type="number" name="empleados" />
        </div>

        <div class="form-group">
          <label>Teléfono</label>
          <input type="text" name="telefono" />
        </div>

        <div class="form-group">
          <label>Correo empresarial</label>
          <input type="email" name="correo" />
        </div>

        <div class="form-group">
          <label>Sitio web</label>
          <input type="text" name="web" />
        </div>

        <div class="form-group">
          <label>Subsector</label>
          <select name="subsector">
            {% for s in subsectores %}
            <option value="{{s.id_subsector}}">{{s.nombre_subsector}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group">
          <label>Ciudad</label>
          <select name="ciudad">
            {% for c in ciudades %}
            <option value="{{c.id_ciudad}}">{{c.nombre_ciudad}}</option>
            {% endfor %}
          </select>
        </div>

        <button type="submit" class="btn-registrar">Registrar empresa</button>
      </form>
    </div>
  </body>
</html>
