<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Registro Empresa</title>


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">


  <link rel="stylesheet" href="{{ url_for('static', filename='css/registrarEmp.css') }}">
</head>

<body>
      {% extends "base.html" %}

{% block title %}
Empresarios
{% endblock %}

{% block content %}
<div class="container mt-4">


  <div class="pagetitle">
    <h1>Registro Empresa</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/panel">Inicio</a></li>
        <li class="breadcrumb-item active">Datos Empresa</li>
      </ol>
    </nav>
  </div>

  
  <div class="card p-4">

    <h4 class="card-title">
      <i class="bi bi-shop me-2"></i> Datos de la Empresa (MIPYME)
    </h4>

    <p class="text-muted">
      Ingrese la información de su empresa, incluyendo datos generales, ubicación, tamaño, y otros detalles relevantes.
    </p>

    <form action="{{ url_for('guardar_empresa', id_empresario=empresario.id_empresario) }}" method="POST">

      <div class="row">

        <div class="col-md-6">

          <div class="mb-3">
            <label class="is-required">Nombre de la empresa</label>
            <input type="text" name="nombre_empresa" class="form-control" placeholder="Ej: Soluciones Empresariales S.A.S." required>
          </div>

          <div class="mb-3">
            <label class="is-required">Correo electrónico empresarial</label>
            <input type="email" name="correo" class="form-control">
          </div>

          <div class="mb-3">
            <label class="is-required">Direccion Comercial Principal</label>
            <input type="text" name="direccion" class="form-control">
          </div>



          <div class="mb-3">
            <label class="is-required">Número de empleados </label>
            <input type="number" name="empleados" class="form-control">
          </div>

  

          <div class="mb-3">
            <label class="is-required">Actividad económica </label>
            <input type="text" name="actividad" class="form-control" placeholder="Código CIIU o descripción">
          </div>

          <div class="mb-3">
            <label class="is-required">Cuenta con punto de venta </label>
            <select name="punto_venta" class="form-control">
              <option>Seleccione...</option>
              <option>Físico</option>
              <option>Virtual</option>
              <option>Mixto</option>
            </select>
          </div>
             <div class="mb-3">
                  <label>Tipo de flota</label>
          <select name="tipo_flota"  class="form-control">
            <option value="Propia">Propia</option>
            <option value="Tercerizada">Tercerizada</option>
          </select>
          </div>

        </div>

  
        <div class="col-md-6">

          <div class="mb-3">
             <label>Tipo persona jurídica</label>
          <select name="tipo_persona"  class="form-control">
            <option>SAS</option>
            <option>LTDA</option>
            <option>S.A.</option>
            <option>S.C.A.</option>
            <option>S. en C</option>
            <option>Colectiva</option>
          </select>
        </div>

          <div class="mb-3">
            <label class="is-required">Teléfono de contacto empresarial</label>
            <input type="text" name="telefono" class="form-control" placeholder="Ej: 3001234567">
          </div>

          <div class="mb-3">
            <label class="is-required">Ciudad / Municipio</label>
            <select name="ciudad" class="form-control">
              {% for c in ciudades %}
              <option value="{{c.id_ciudad}}">{{c.nombre_ciudad}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="mb-3">
            <label class="is-required">Sitio web</label>
            <input type="text" name="web" class="form-control" placeholder="https://">
          </div>

          <div class="mb-3">
            <label class="is-required">La empresa ofrece</label>
            <select name="tipo_oferta" class="form-control">
              <option>Seleccione...</option>
              <option>Productos</option>
              <option>Servicios</option>
              <option>Mixta</option>
            </select>
          </div>

          <div class="mb-3">
            <label class="is-required">Subsector </label>
            <select name="subsector" class="form-control">
              {% for s in subsectores %}
              <option value="{{s.id_subsector}}">{{s.nombre_subsector}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="mb-3">
            <label class="is-required">Tamaño de la empresa </label>
            <select name="tamano" class="form-control">
              <option>Seleccione...</option>
              <option>Micro</option>
              <option>Pequeña</option>
              <option>Mediana</option>
            </select>
          </div>

        </div>

      </div>

      <div class="text-end">
        <button type="submit" class="btn btn-sena">Guardar</button>
      </div>

    </form>
    {% endblock %}

  </div>

</div>

</body>
</html>