<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Nuevo proceso</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/registroProceso.css') }}">
</head>
<body>

<div class="top-bar">
  <a href="/empresa/{{ empresa.id_empresa }}/procesos" class="btn-volver">
    Volver
  </a>
</div>



<div class="form-container">
<form action="/guardar_proceso/{{ empresa.id_empresa }}" method="POST">
<h2>Nuevo proceso</h2>
<h3>{{ empresa.nombre_empresa }}</h3>
  <div class="input-group">
    <label>Subproceso / Área</label>
    <input type="text" name="subproceso_area" required>
  </div>

  <div class="input-group">
    <label>Tipo proceso</label>
    <select name="tipo_proceso">
      <option>Estratégico</option>
      <option>Misional</option>
      <option>De Apoyo</option>
      <option>De Evaluación</option>
      <option>Importación</option>
      <option>Exportación</option>
    </select>
  </div>

  <button type="submit">Guardar</button>

</form>
</div>

</body>
</html>