<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Registro</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/registro.css') }}"
    />
  </head>
  <body>
    <div class="top-bar">
      <a href="/panel" class="btn-volver">Volver</a>
    </div>

    <div class="form-container">
      <h2>Registrar usuario</h2>

      <form action="/guardar_usuario" method="POST">
        <div class="input-group">
          <label>Nombres</label>
          <input type="text" name="nombres" required />
        </div>

        <div class="input-group">
          <label>Apellidos</label>
          <input type="text" name="apellidos" required />
        </div>

        <div class="input-group">
          <label>Tipo de documento</label>
          <select name="tipo_doc">
            <option value="CC">CC</option>
            <option value="TI">TI</option>
            <option value="PPT">PPT</option>
          </select>
        </div>

        <div class="input-group">
          <label>Número de documento</label>
          <input type="text" name="numero_doc" required />
        </div>

        <div class="input-group">
          <label>Correo</label>
          <input type="email" name="email" required />
        </div>

        <div class="input-group">
          <label>Contraseña</label>
          <input type="password" name="password" required />
        </div>

        <div class="input-group">
          <label>Tipo de usuario</label>
          <select name="tipo_usuario">
            <option value="aprendiz">Aprendiz</option>
            <option value="instructor">Instructor</option>
          </select>
        </div>

        <button type="submit">Registrar</button>
      </form>
    </div>
  </body>
</html>
