<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Registro</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/registro.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>
  <!-- HEADER SENA -->
<header class="header-sena">
  
  <div class="header-left">
    <img src="{{ url_for('static', filename='img/logo_sena.png') }}" class="logo-sena">
    <span class="titulo-sena">SIE</span>
  </div>

  <div class="header-right">
    <div class="user-menu" onclick="toggleMenu()">
      
      <i class="bi bi-person-circle user-icon"></i>
      <i class="bi bi-chevron-down arrow"></i>

      <div class="dropdown-user" id="dropdownUser">
        <span class="username">{{ nombre }}</span>
        <hr>
        <a href="/logout" class="logout">
          <i class="bi bi-box-arrow-right"></i> Salir
        </a>
      </div>

    </div>
  </div>

</header>

<div class="top-bar">
  <a href="/panel" class="btn-volver">Volver</a>
</div>

<div class="container-form">


  <div class="logo">
    <img src="{{ url_for('static', filename='img/logo_sena.png') }}">
  </div>

  <h2>Registro de Usuario</h2>

  <p class="subtitle">
    Cree su cuenta en el <strong>SIE</strong> para gestionar empresas y consultas.
  </p>

  <form action="/guardar_usuario" method="POST">

    <!-- FILA 1 -->
    <div class="row">
      <div class="input-group">
        <label>Nombre de usuario <span class="opcional">(opcional)</span></label>
        <input type="text"name="nombres" placeholder="Ingrese su nombre de usuario">
      </div>

      <div class="input-group">
        <label>Apellidos</label>
        <input type="text" name="apellidos" placeholder="Ingrese sus Apellidos" required>
      </div>
    </div>

    <div class="input-group full">
      <label>Correo electrónico</label>
      <input type="email" name="email" placeholder="ejemplo@correo.com" required>
    </div>

     <div class="row">
      <div class="input-group">
          <label>Tipo de documento</label>
          <select name="tipo_doc">
            <option value="CC">CC</option>
            <option value="TI">TI</option>
            <option value="PPT">PPT</option>
          </select>
        </div>

        <div class="input-group">
          <label>Número de documento</label>
          <input type="text" name="numero_doc"placeholder="Ingrese su Número de documento" required />
        </div>
    </div>
   
    <div class="row">
      <div class="input-group">
        <label>Contraseña</label>
        <input type="password" name="password" placeholder="Mínimo 8 caracteres" required>
        <small>Debe incluir mayúscula, número y carácter especial.</small>
      </div>
    </div>  
    <div class="row">
        <div class="input-group">
          <label>Tipo de usuario</label>
          <select name="tipo_usuario">
            <option value="aprendiz">Aprendiz</option>
            <option value="instructor">Instructor</option>
          </select>
        </div>
    </div> 

    <div class="check">
      <input type="checkbox" required>
      <label>
        Autorizo al <strong>SENA</strong> el tratamiento de mis datos personales de acuerdo con la 
        <a href="#">Política de Datos</a>.
      </label>
    </div>

    <p class="privacy">
      Consulte también nuestro <a href="#">Aviso de Privacidad</a>.
    </p>

   
    <button type="submit" class="btn-sena">
      <i class="bi bi-check-circle"></i> Registrarse
    </button>

  </form>

</div>
<script>
function toggleMenu() {
  document.getElementById("dropdownUser").classList.toggle("active");
}

window.onclick = function(e) {
  if (!e.target.closest('.user-menu')) {
    document.getElementById("dropdownUser").classList.remove("active");
  }
}
</script>
</body>
</html>